<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
    <div class="container">
      <h1>Alterar Password Admin</h1>
      <form action="/admin/password" method="POST" onsubmit="return validarPasswords()">
        <input type="hidden" id="password_atual" value="<%= admin._password %>">
        <label for="password">Password atual</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password" required
        />
        <label for="nova_password">Nova password</label>
        <input
          type="password"
          id="nova_password"
          name="nova_password"
          placeholder="Nova Password" required
        />
        <label for="confirmar_nova_password">Confirmar Nova password</label>
        <input
          type="password"
          id="confirmar_nova_password"
          name="confirmar_nova_password"
          placeholder="Confiramr Nova Password" required
        />
        <button type="submit">Alterar Password</b>
      </form>
    </div>
  </body>
  <script type="text/javascript">
    function validarPasswords() {
        console.log("entrou funcao");
        var password_atual=document.getElementById("password_atual").value;
        var password_atual_inserida=document.getElementById("password").value;
        var password = document.getElementById("nova_password").value;
        var password2 = document.getElementById("confirmar_nova_assword").value;
        if(password_atual!=password_atual_inserida){
            alert("Password atual esta errada!");
            return false;
        }
        if (password != password2) {
            alert("Passwords nao correspondem.");
            return false;
        }
        return true;
    }
</script>
</html>
