<!DOCTYPE html>
<html>
  <body>
   <a href="/admin/promotores">Gerir Promotores</a>
   <a href="/admin/utilizadores">Gerir utlilizadores</a>
   <a href="/admin/password">Alterar palavra passe admin</a>
   <a href="/logout">Terminar Sessao</a>
  </body>
</html>
