<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
   <a href="/admin/promotores">Gerir Promotores</a>
   <a href="">Gerir utlilizadores</a>
   <a href="">alterar palavra passe admin</a>
  </body>
</html>
