<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
   <a href="/admin/promotores/listar">Listar Promotores</a>
   <a href="/admin/promotores/adicionar">Adicionar Promotores</a>
   <a href="#">Alterar Promotores</a>
   <a href="#">Remover Promotores</a>
   <a href="/admin">Voltar</a> 
  </body>
</html>
