<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
   <a href="/admin/utilizadores/listar">Listar Utilizadores</a>
   <!--  <a href="/admin/utilizadores/adicionar">Adicionar Utilizadores</a>   -->
   <a href="/admin">Voltar</a> 
  </body>
</html>
