<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="container">  
      <header>
        <div class="title"> 
          <h2>Eventos culturais</h2>
        </div>
       <div class="sub_title">
        <p>Criaçao e agendamento de todo o tipo de eventos, desde eventos desportivos, sociais, culturais, corporativos
          e entre outros.
        </p>
        <p>
        Depois de criado evento temos também uma plantaforma para a venda dos ingressos totalmente segura,confiavel e eficaz. 
        </p>
        <p>
          <b>Venha Experimentar!</b>
        </p>
       </div>
       
       <div class="login">
        <a href="/users/login" class="login_register">Login</a>
        <a href="#" class="login_register">Register</a>
      </div>
      </header>
      <section>
       <nav>
       <ul class="nav_index_page">
       <li><a href="#">Eventos culturais</a></li>
       <li><a href="#">Contactos</a></li>
       <li><a href="#">Sobre Nos</a></li>
       </ul>
       </nav>
      
       <article>
        <ul>
          <li>
            <a href="/users/login"><img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg" alt="A Toyota Previa covered in graffiti" loading="lazy"></a>
          </li>
          <li>
            <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg" alt="Interesting living room light through a window" loading="lazy">
          </li>
          <li>
            <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05513_gfbiwi.jpg" alt="Sara on a red bike" loading="lazy">
          </li>
          <li>
            <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05588_nb0dma.jpg" alt="XOXO venue in between talks" loading="lazy">
          </li>
          <li>
            <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05459_ziuomy.jpg" alt="Trees lit by green light during dusk" loading="lazy">
          </li>
          <li>
            <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05586_oj8jfo.jpg" alt="Portrait of Justin Pervorse" loading="lazy">
          </li>
          <li>
            <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05465_dtkwef.jpg" alt="Empty bike racks outside a hotel" loading="lazy">
          </li>
          <li>
            <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05626_ytsf3j.jpg" alt="Heavy rain on an intersection" loading="lazy">
          </li>
          <li>
            <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05449_l9kukz.jpg" alt="Payam Rajabi eating peanut chicken" loading="lazy">
          </li>
       </article>
      </section>
      <footer>
       <p>Footer</p>
      </footer>
      </div> 
  </body>
</html>
