<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
   <a href="#">Bilhetes pendentes</a>
   <a href="#">Bilhetes cancelados</a>
   <a href="#">Bilhetes disponiveis por espetaculo</a>
  </body>
</html>

