<!DOCTYPE html>
<html>
  <body>
   <a href="#">Bilhetes pendentes</a>
   <a href="#">Bilhetes cancelados</a>
   <a href="#">Bilhetes disponiveis por espetaculo</a>
   <a href="/promotor">Voltar</a>
  </body>
</html>

