<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
   <a href="/promotor/eventos/adicionar">Adicionar Eventos</a>
   <a href="#">Listar Eventos</a>
  </body>
</html>
