<!DOCTYPE html>
<html>
  <body>
   <a href="/promotor/locais_espetaculos">Locais de espetaculos</a>
   <a href="/promotor/bilhetes">Bilhetes</a>
   <a href="/logout">Terminar Sessao</a>
  </body>
</html>
