<!DOCTYPE html>
<html>
<body>
<h3> Lista de Clientes</h3>
<% if(clientes.length==0){ %>
    <h2>Clientes nao encontrados</h2>
    <% } else{ %>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Nif</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(var cliente of clientes) { %>       
            <tr>
            <td><%= cliente.nome %></td>
            <td><%= cliente.nif %></td>
            <td>
                <a href="/admin/utilizadores/alterar/<%= cliente._id %> ">alterar</a>
                <a href="/admin/utilizadores/remover/<%= cliente._id %>" onclick="return confirm('Tem a certeza que quer eliminar este registo?');">remover</a>
            </td>
        </tr>
        <% } %>
    </tbody>   
</table>
<% } %>
<a href="/admin/utilizadores"> voltar</a>
</body>
</html>